Version: '2020-06-01'
Type: Resource
ResourceType:
  From: AWS::EC2::SecurityGroupIngress
  To: ALIYUN::ECS::SecurityGroupIngress
Properties:
  CidrIp:
    To: SourceCidrIp
  CidrIpv6:
    To: Ipv6SourceCidrIp
  Description:
    To: Description
  GroupId:
    Ignore: true
  GroupName:
    Ignore: true
  IpProtocol:
    To: IpProtocol
  SourcePrefixListId:
    To: SourcePrefixListId
  SourceSecurityGroupId:
    Ignore: true
  SourceSecurityGroupName:
    Ignore: true
  SourceSecurityGroupOwnerId:
    Ignore: true
  FromPort:
    To: PortRange
    MergeHandler: insert_str
  ToPort:
    To: PortRange
    MergeHandler: append_str
Attributes:
  Id:
    Ignore: true
